/* Global Style */
body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
.btn-primary {
  border-radius: 5px;
  background: #f15b22;
  border: 0;
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  padding: 20px;
}

main section {
  margin: 80px 70px 0 70px;
}
/* Header styles Here */
.header {
  height: 500px;
  background-image: url('../images/banner/banner1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}
.hero-section {
  max-width: 300px;
  margin: auto 100px;
  text-align: right;
}

.hero-title {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
}

.hero-description {
  color: #444343;
  margin-top: 20px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 400;
}
/* About Styles here */

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.about-img,
.about-info {
  width: 50%;
}

.about-img > img {
  max-height: 500px;
  margin-bottom: 100px;
}
.about-info-title {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  padding-right: 15px;
}

.about-info-description {
  max-width: 500px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
}

.about-info > ul {
  padding: 0;
  margin-top: 5px;
  list-style: none;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.list-item span {
  color: green;
  margin-right: 5px;
}

/* My Plans styles here */
.my-plan-container {
  padding: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}
.plan-title {
  margin: 20px;
  text-align: center;
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}
/* Other styles here */

/* Footer Styles Here */
